<html>
	<head>
		<title>Media</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/owl.carousel.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/owl.theme.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/prettyPhoto.css"%}" media="screen" charset="utf-8">
		<script type="text/javascript" src="{% static "js/jquery-2.1.1.js"%}"></script>
		<script type="text/javascript" src="{% static "js/owl.carousel.js"%}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.js"%}"></script>
		<script src="{% static "js/jquery.prettyPhoto.js" %}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
  		$(document).ready(function(){
    		$("a[rel^='prettyPhoto']").prettyPhoto();
  		});
		</script>
	</head>
	<body>
	<a href="/"><img id="logo" src="{% static "media/home/logo.png" %}"></a>
	<center>
		<table class="nav-bar">
			<tr>
				<td><a class="nav-btn" href="/">Home</a></td>
				<td><a class="nav-btn active" href="/media/">Media</a></td>
				<td><a class="nav-btn" href="/robots/">Robots</a></td>
				<td><a class="nav-btn" href="/aboutus/">About Us</a></td>
				<td><a class="nav-btn" href="/sponsors/">Sponsors</a></td>
				<td><a class="nav-btn" href="/links/">Links</a></td>
			</tr>
		</table>
	</center>
	<hr />
		{% autoescape off %}
		{{ content }}
		{% endautoescape %}
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
	</body>
</html>
